.star { 
  background: url(star0.png) no-repeat;
  width: 70px; 
  height: 78px;
  float: right;
  padding-right: 13px;
}
.star:hover,
.star:hover ~ .star { 
  background: url(star1.png) no-repeat;
}




        
